body{
    background-image: url(https://thumbs.dreamstime.com/z/ice-crystals-texture-background-16757052.jpg);
    font-family: sans-serif;
}

.jumbotron{
    border: solid rgb(171, 238, 243) 5px;
    background: white;
}

.jumbo{
    padding: 0px;
}

.row{
    justify-content: center;
}

.main-content{
    background: white;
    padding: 15px;
    border: solid rgb(171, 238, 243) 5px;
}

.random-digit {
    background: white;
    border: solid rgb(171, 238, 243) 5px;
    padding: 15px;
}

.score-board{
    background: rgb(171, 238, 243);
    padding: 15px;
}


.container img{
    max-width: 100%;
    border: solid rgb(171, 238, 243) 3px;
}

.total{
    background: rgb(171, 238, 243);
    padding: 15px;
    border: solid white 5px;

}
/* @media screen and (max-width: 480px) {
    img {
         width: 50px;
    }
} */